{% extends 'store/base.html' %}
{% load static %}

{% block content %}

    <div class="row row-item">
        {% for product in products %}
        <div class="col s4">
            
            <img class="thumbnail" src="{{ product.imageURL }}" alt="">
            <div class="box-element product">
                <div class="box-detail">
                    <div class="box-item"><h6>{{ product.name }}</h6></div>
                    <div class="box-item"><h5 class="price">${{ product.price|floatformat:2 }}</h5></div>
                </div>

                <hr class="hr-style-one">
                <div class="buttons">
                    <button class="btn waves-effect waves-light btn-small">Add to Cart</button>
                    <a href="" class="btn waves-effect waves-light btn-small pink darken-4">View</a>
                </div>

            </div>

        </div>

    {% endfor %}

    </div>

{% endblock %}